fastapi
fastapi-cli
uvicorn
streamlit

langchain<1.0
langchain-openai
langchain-google-genai
langchain-groq
langchain-text-splitters
langsmith

openai
groq
google-ai-generativelanguage

pydantic
pydantic-settings
python-dotenv
python-multipart

sqlalchemy
orjson
ujson

numpy
pandas
pyarrow
pillow

httpx
requests
tqdm
tenacity

protobuf
grpcio
grpcio-status
